<%= simple_form_for @user do |f| %>
  <%= not_editable_for @user, :email, f %>
  <%= f.input :name %>
  <%= f.input :admin, as: :boolean if current_user.admin %>

  <div class="text-center">
    <% if @user.persisted? %>
      <%= link_to_back user_path(@user) %>
    <% else %>
      <%= link_to_back users_path %>
    <% end %>
    
    <%= save_button %>
  </div>
<% end %>
