<div class="wrapper border-bottom bg-white">
  <h3><%= User.model_name.human.pluralize %></h3>
</div>

<div class="row">
  <div class="pack form-panel">
    <div class="pack-caption">
      <strong><%= t('link.change_password') %> - <%= @user.name %></strong>
    </div>
    <div class="pack-inside">
      <%= simple_form_for(@user, url: user_update_password_path(@user)) do |f| %>
        <div class="login-wrap">
          <%= f.input :current_password, label: false, autocomplete: "off", placeholder: User.human_attribute_name(:current_password) if !current_user.admin %>
          <%= f.input :password, label: false, autocomplete: "off", placeholder: User.human_attribute_name(:password) %>
          <%= f.input :password_confirmation, label: false, autocomplete: "off", placeholder: User.human_attribute_name(:password_confirmation) %>
       
          <br><div class="text-center">          
            <%= link_with_icon_to_back @user %>
            <%= save_button %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
