<div class="wrapper border-bottom bg-white">
  <h3><%= link_to User.model_name.human(count: 2), users_path %></h3>
</div>

<div class="row">
  <div class="pack form-panel">
    <div class="pack-caption"><strong><%= link_to action_index(User), users_path %></strong></div>
    <div class="pack-inside">
      <div class="row">
        <div class="col-md-12">
          <%= search_form_for(@query) do |f|  %>
            <div class="input-group btn-group" role="group">
              <%= f.text_field :email_or_name_cont, class: "input-sm form-control" %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', class: "btn btn-sm btn-primary", id: "search_button") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div><br>

      <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed">
          <thead>
            <tr>
              <th><%= User.human_attribute_name(:name) %></th>
              <th><%= User.human_attribute_name(:email) %></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @users.order(email: :asc).each do |user| %>
              <tr data-href="<%= user_path(user) %>">
                <td>
                  <%= user.name %>
                  <% if user.admin %>
                    <%= badge_for_admin %>
                  <% end %>
                </td>
                <td><%= user.email %></td>
                <td>
                  <div class="pull-right">
                    <%= link_only_icon_to_edit edit_user_path(user) %>
                    <%= link_only_icon_to_destroy user %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="pull-right">
          <%= link_to new_user_path, class: "btn btn-primary", id: "new_user_button" do %>
            <i class="fa fa-user-plus"></i>
          <% end %>
        </div>
      </div>

      <%= index_footer @users %>
    </div>
  </div>
</div>
