<div class="wrapper border-bottom bg-white">
  <h3><%= link_to User.model_name.human(count: 2), users_path %></h3>
</div>

<div class="row">
  <div class="pack form-panel">
    <div class="pack-caption">
      <strong><%= link_to @user, user_path(@user) %></strong>
      <% if current_user.admin %>
        <%= badge_for_admin if @user.admin %>
      <% end %>
    </div>

    <div class="pack-inside">
      <dl class="dl-horizontal">
        <%= show_for @user, :email, {disabled: true} %>
        <%= show_for @user, :name, { tool_tip: {place: "bottom", title: t('action.click_to_edit')} } %>
        <%= show_for @user, :created_at, {disabled: true, text: date_time_for(@user.created_at, :long) } %>
        <%= show_for @user, :updated_at, {disabled: true, text: date_time_for(@user.updated_at, :long) } %>
      </dl>

      <div class="text-center">
        <%= link_with_icon_to_back users_path if current_user.admin %>
        <%= link_with_icon_to_edit edit_user_path(@user) %>
        <%= link_specific_icon_to user_edit_password_path(@user), t('link.change_password'), {class: 'warning', icon: 'key'} %>
        <%= link_to("#", data: {toggle: "modal", target: "#modal"}, class: "btn btn-danger space-links") do %>
          <i class="fa fa-trash"></i> <%= t('link.remove_account') %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'destroy_account' %>
