<!-- <h2><%= t('.sign_in', :default => "Sign in") %></h2> -->
<!-- 
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %> -->
 <!-- <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

   <div><%= f.submit t('.sign_in', :default => "Sign in") %></div>

<% end %>

<%= render "devise/shared/links" %> -->



  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-login"}) do |f| %>
    <h2 class="form-login-heading"><%= t('.sign_in', :default => "Sign in") %></h2>
    <div class="login-wrap">
      <%= f.input :email, autofocus: true, class:"form-control", placeholder:"User ID" %>
      <%= f.input :password, autocomplete: "off", class:"form-control", placeholder: "Password" %>

      <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, as: :boolean %>
      <% end -%>

      <%= button_tag(type: "submit", class: "btn btn-theme btn-block") do %>
        <i class="fa fa-lock"></i> <%= t('.sign_in', :default => "Sign in") %>
      <% end %>

      <hr>

      <div class="registration">
        Don't have an account yet?<br/>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>