<div class="wrapper border-bottom bg-white">
  <h3><%%= <%= singular_table_name.classify %>.model_name.human.pluralize %></h3>
</div>

<div class="row">
  <div class="pack form-panel">
    <div class="pack-caption"><strong><%%= action_index <%= singular_table_name.classify%> %></strong></div>
    <div class="pack-inside">
      <div class="row">
        <div class="col-md-12">
          <%%= search_form_for(@query) do |f|  %>
            <div class="input-group btn-group" role="group">
              <%%= f.text_field :<%= attributes.first.name %>_cont, class: "input-sm form-control" %>
              <span class="input-group-btn">
                <%%= button_tag(type: 'submit', class: "btn btn-sm btn-primary", id: "search_button") do %>
                  <i class="fa fa-search"></i>
                <%% end %>
              </span>
            </div>
          <%% end %>
        </div>
      </div><br>

      <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed">
          <thead>
            <tr>
              <%- attributes.each do |attribute| -%>
              <th><%%= <%= singular_table_name %>.human_attribute_name(:<%= attribute.name %>) %></th>
              <%- end -%>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
              <tr data-href="<%%= <% singular_table_name %>_path(<%= singular_table_name %>) %>">
              <%- attributes.each do |attribute| -%>
                <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
              <%- end -%>
                <td>
                  <div class="pull-right">
                    <%%= link_only_icon_to_edit edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
                    <%%= link_only_icon_to_destroy <%= singular_table_name %> %>
                  </div>
                </td>
              </tr>
            <%% end %>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="pull-right">
          <%%= link_with_icon_to_new new_<%= singular_table_name %>_path %>
        </div>
      </div>

      <%%= index_footer @<%= plural_table_name %> %>
    </div>
  </div>
</div>
