<div class="wrapper border-bottom bg-white">
  <h3><%= link_to Transaction.model_name.human(count: 2), user_transactions_path(@user) %></h3>
</div>

<div class="row">
  <div class="pack form-panel">
    <div class="pack-caption"><strong><%= link_to action_index(Transaction), user_transactions_path(@user) %></strong></div>
    <div class="pack-inside">
      <div class="row">
        <div class="col-md-12">
          <%= search_form_for(@query, url: user_transactions_path(@user)) do |f|  %>
            <div class="input-group btn-group" role="group">
              <%= f.text_field :description_cont, class: "form-control" %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', class: "btn btn-primary", id: "search_button") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>

            <div class="text-center" id="expand_advanced_search_button">
              <span>
                <i class="fa fa-angle-double-down fa-2x" title='<%= t('action.advanced_search') %>' data-toggle='tooltip' data-placement= 'right'></i>
              </span>
            </div>

            <%= render partial: "transactions_advanced_search", locals: {f: f} %>
          <% end %>
        </div>
      </div><br>

      <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed">
          <thead>
            <tr>
              <th><%= Transaction.human_attribute_name(:account) %></th>
              <th><%= Transaction.human_attribute_name(:category) %></th>
              <th><%= Transaction.human_attribute_name(:date) %></th>
              <th class="right-cell"><%= enum_translation(Transaction, :transaction_types, :in) %></th>
              <th class="right-cell"><%= enum_translation(Transaction, :transaction_types, :out) %></th>
              <th><%= Transaction.human_attribute_name(:description) %></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @transactions.each do |transaction| %>
              <tr data-href="<%= transaction_path(transaction) %>">
                <td><%= transaction.account %></td>
                <td><%= transaction.category %></td>
                <td><%= date_for transaction.date %></td>

                <% if transaction.transaction_type.to_sym == :in %>
                  <td class="right-cell in-color"><%= number_to_currency(transaction.amount) %></td><td></td>
                <% elsif transaction.transaction_type.to_sym == :out %>
                  <td></td><td class="right-cell out-color"><%= number_to_currency(transaction.amount) %></td>
                <% end %>
                
                <td><%= transaction.description %></td>
                <td>
                  <div class="pull-right">
                    <%= link_only_icon_to_edit edit_transaction_path(transaction) %>
                    <%= link_only_icon_to_destroy transaction %>
                  </div>
                </td>
              </tr>
            <% end %>

            <tr>
              <td class="right-cell" colspan="3"></td>
              <td class="right-cell in-background"><%= number_to_currency(@totalizer_transactions_service.totalize_transactions_in) %></td>
              <td class="right-cell out-background"><%= number_to_currency(@totalizer_transactions_service.totalize_transactions_out) %></td>
              <td class="right-cell"><strong><%= Transaction.human_attribute_name(:total) %>: </strong></td>
              <td class="right-cell <%= @totalizer_transactions_service.calculate_total < 0 ? 'out-background' : 'in-background' %>">
                <%= number_to_currency(@totalizer_transactions_service.calculate_total) %>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <%= link_with_icon_to_new_fem new_user_transaction_path(@user), Transaction %>
          </div>
        </div>
      </div>

      <%= index_footer @transactions %>
    </div>
  </div>
</div>
