<div class="wrapper border-bottom bg-white">
  <h3><%= Transaction.model_name.human(count: 2) %></h3>
</div>

<div class="row">
  <div class="pack form-panel">
    <div class="pack-caption"><strong><%= action_index Transaction %></strong></div>
    <div class="pack-inside">
      <div class="row">
        <div class="col-md-12">
          <%= search_form_for(@query, url: user_transactions_path(@user)) do |f|  %>
            <div class="input-group btn-group" role="group">

              <div class="row">
                <div class="col-md-11">
                  <%= f.text_field :date_or_amount_or_description_cont, class: "input-sm form-control" %>
                </div>

                <div class="col-md-1">
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-sm btn-primary", id: "search_button") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <%= f.select :account_id_eq, @user.accounts %>
                </div>

                <div class="col-md-2">
                  <%= f.select :category_id_eq, @user.categories %>
                </div>

                <div class="col-md-2">
                  <%= f.select :transaction_type_eq, options_for_enum(Transaction, :transaction_types) %>
                </div>

                <div class="col-md-2">
                  <%= f.text_field :date_cont %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div><br>






<!-- input(6) accounts(2) category(2) types(2) date_ini(2) date_end(2) button(1) -->







      <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed">
          <thead>
            <tr>
              <th><%= Transaction.human_attribute_name(:account) %></th>
              <th><%= Transaction.human_attribute_name(:category) %></th>
              <th><%= Transaction.human_attribute_name(:transaction_type) %></th>
              <th><%= Transaction.human_attribute_name(:date) %></th>
              <th><%= Transaction.human_attribute_name(:amount) %></th>
              <th><%= Transaction.human_attribute_name(:description) %></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @transactions.each do |transaction| %>
              <tr data-href="<%= transaction_path(transaction) %>">
                <td><%= transaction.account %></td>
                <td><%= transaction.category %></td>
                <td><%= transaction.transaction_type %></td>
                <td><%= transaction.date %></td>
                <td><%= transaction.amount %></td>
                <td><%= transaction.description %></td>
                <td>
                  <div class="pull-right">
                    <%= link_only_icon_to_edit edit_transaction_path(transaction) %>
                    <%= link_only_icon_to_destroy transaction %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <%= link_with_icon_to_new_fem new_user_transaction_path(@user), Transaction %>
          </div>
        </div>
      </div>

      <%= index_footer @transactions %>
    </div>
  </div>
</div>
