<div class="wrapper border-bottom bg-white">
  <h3><%= link_to Transaction.model_name.human(count: 2), user_transactions_path(@user) %></h3>
</div>

<div class="row">
  <div class="pack form-panel">
    <div class="pack-caption"><strong><%= link_to action_index(Transaction), user_transactions_path(@user) %></strong></div>
    <div class="pack-inside">
      <div class="row">
        <div class="col-md-12">
          <%= search_form_for(@query, url: user_transactions_path(@user)) do |f|  %>
            <!-- <div class="input-group btn-group" role="group"> -->
              <!-- <s%= f.text_field :description_cont, class: "form-control" %> -->


              <div class="col-md-3">
                <div class="form-group">
                  <%= f.label :by_year, Transaction.human_attribute_name(:year) %>
                  <%= f.select :by_year, years_for_select, {}, class: "form-control" %>
                </div>                
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.label :by_month, Transaction.human_attribute_name(:month) %>
                  <%= f.select :by_month, months_for_select, {}, class: "form-control" %>
                </div>                
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :account, Transaction.human_attribute_name(:account) %>
                  <%= f.select :account_id_eq, user_accounts_for_select(@user), {include_blank: t('text.all_fem')}, class: "form-control" %>
                </div>                
              </div>

<!--               <span class="input-group-btn">
                <s%= button_tag(type: 'submit', class: "btn btn-primary", id: "search_button") do %>
                  <i class="fa fa-search"></i>
                <s% end %>
              </span> -->

              <div class="col-md-2">
                <label class="control-label"></label>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-primary btn-block", id: "search_button") do %>
                    <i class="fa fa-search"> <%= t('action.search') %></i>
                  <% end %>
                </span>
              </div>
            <!-- </div> -->

<!--             <div class="text-center" id="expand_advanced_search_button">
              <span>
                <i class="fa fa-angle-double-down fa-2x" title='<s%= t('action.advanced_search') %>' data-toggle='tooltip' data-placement= 'right'></i>
              </span>
            </div>

            <s%= render partial: "transactions_advanced_search", locals: {f: f} %> -->
          <% end %>
        </div>
      </div><br>

      <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed">
          <thead>
            <tr>
              <th><%= Transaction.human_attribute_name(:account) %></th>
              <th><%= Transaction.human_attribute_name(:category) %></th>
              <th class="text-center"><%= Transaction.human_attribute_name(:date) %></th>
              <th class="text-center"><%= enum_translation(Transaction, :transaction_types, :in) %></th>
              <th class="text-center"><%= enum_translation(Transaction, :transaction_types, :out) %></th>
              <th><%= Transaction.human_attribute_name(:description) %></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @transactions.each do |transaction| %>
              <tr data-href="<%= transaction_path(transaction) %>">
                <td><%= transaction.account %></td>
                <td><%= transaction.category %></td>
                <td class="text-center"><%= date_for transaction.date %></td>

                <% if transaction.transaction_type.to_sym == :in %>
                  <td class="text-center in-color"><%= number_to_currency(transaction.amount) %></td><td></td>
                <% elsif transaction.transaction_type.to_sym == :out %>
                  <td></td><td class="text-center out-color"><%= number_to_currency(transaction.amount) %></td>
                <% end %>
                
                <td><%= transaction.description %></td>
                <td>
                  <div class="pull-right">
                    <%= link_only_icon_to_edit edit_transaction_path(transaction) %>
                    <%= link_only_icon_to_destroy transaction %>
                  </div>
                </td>
              </tr>
            <% end %>

            <tr>
              <td colspan="3"></td>
              <td class="text-center in-background"><%= number_to_currency(@totalizer_transactions_service.totalize_transactions_in) %></td>
              <td class="text-center out-background"><%= number_to_currency(@totalizer_transactions_service.totalize_transactions_out) %></td>
              <td class="right-cell"><strong><%= Transaction.human_attribute_name(:total) %>: </strong></td>
              <td class="right-cell <%= @totalizer_transactions_service.calculate_total < 0 ? 'out-background' : 'in-background' %>">
                <%= number_to_currency(@totalizer_transactions_service.calculate_total) %>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <%= link_with_icon_to_new_fem new_user_transaction_path(@user), Transaction %>
          </div>
        </div>
      </div>

      <!-- <s%= index_footer @transactions %> -->
    </div>
  </div>
</div>
