<aside>
  <div id="sidebar"  class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><%= link_to image_tag('template/ui-sam.jpg', class: "img-circle", width: "60"), root_path %></p>
      <h5 class="centered"><%= current_user.email %></h5>
      
      <li class="mt">
        <%= link_to users_path, class: "menu" do %>
          <i class="fa fa-user"></i>
          <strong>Users</strong>
        <% end %>

        <%= link_to users_path, class: "menu" do %>
          <i class="fa fa-bank fa-3x"></i>
          <strong>Accounts</strong>
        <% end %>

        <%= link_to users_path, class: "menu" do %>
          <i class="fa fa-dollar fa-3x"></i>
          <strong>Transactions</strong>
        <% end %>
      </li>
    </ul>
  </div>
</aside>
