<aside>
  <div id="sidebar" class="nav-collapse">
    <ul class="sidebar-menu" id="nav-accordion">
<!--       <p class="centered"><%= link_to image_tag('template/ui-sam.jpg', class: "img-circle", width: "60"), user_path(current_user) %></p>
      <h5 class="centered"><%= current_user.name %></h5> -->
      
      <li class="mt">
        <% if current_user.admin %>
          <%= link_to users_path, class: "menu menu-link" do %>
            <i class="fa fa-user"></i>
            <strong><%= User.model_name.human.pluralize %></strong>
          <% end %>
        <% end %>

        <%= link_to user_accounts_path(current_user), class: "menu menu-link" do %>
          <i class="fa fa-bank"></i>
          <strong><%= Account.model_name.human(count: 2) %></strong>
        <% end %>

        <%= link_to user_categories_path(current_user), class: "menu menu-link" do %>
          <i class="fa fa-folder-open"></i>
          <strong><%= Category.model_name.human(count: 2) %></strong>
        <% end %>

        <%= link_to root_path, class: "menu menu-link" do %>
          <i class="fa fa-dollar fa-3x"></i>
          <strong>Transactions</strong>
        <% end %>
      </li>
    </ul>
  </div>
</aside>

<script type="text/javascript">
  $(document).on('ready page:load', function(){
    var wSize = $(window).width();
     
    if (wSize <= 768) {
      $('#main-content').css({
        'margin-left': '0px'
      });
      $('#sidebar').css({
        'margin-left': '-210px'
      });
      $('#sidebar > ul').hide();
      $("#container").addClass("sidebar-closed");
    }
  });
</script>
