<!DOCTYPE html>
<html>
<head>
  <title>Vagrant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container" >
    
    <%= render 'layouts/header' %>
    <%= render 'layouts/menu' %>

    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <% if notice.present? %>
            <p class="text-center alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert.present? %>
            <p class="text-center alert alert-danger"><%= alert %></p>
          <% end %>
          <div class="col-lg-9 main-chart">
            <%= yield %>
          </div>
          
          <div class="col-lg-3"></div>
        </div>
      </section>
    </section>

    <footer class="site-footer">
      <div class="text-center">
        2016 - Simple Finance
        <a href="index.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
        </a>
      </div>
    </footer>

  </section>
</body>
</html>
