<!DOCTYPE html>
<html>
<head>
  <title>Vagrant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice.present? %>
    <p class="text-center alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="text-center alert alert-danger"><%= alert %></p>
  <% end %>

  <div id="login-page">
    <div class="container">
      <%= yield %>
    </div>
  </div>

</body>
</html>
