<div class="wrapper border-bottom bg-white">
  <h3><%= Account.model_name.human(count: 2) %></h3>
</div>

<div class="row">
  <div class="pack form-panel">
    <div class="pack-caption">
      <strong><%= @account.name %></strong>
    </div>
    <div class="pack-inside">
      <dl class="dl-horizontal">

        <div class="form-group">
          <label><%= Account.human_attribute_name(:account_type) %></label> <br>
          <div class="form-control">
            <%= enum_translation Account, :account_types, @account.account_type %>
          </div>
        </div>
        
        <%= show_for @account, :name %>
        <%= show_for @account, :balance %>
        <%= show_for @account, :description %>
      </dl>

      <div class="text-center">
        <%= link_with_icon_to_back user_accounts_path(@user) %>
        <%= link_with_icon_to_edit edit_account_path(@account) %>
      </div>
    </div>
  </div>
</div>
